<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-11-01T14:37:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/aryanbanerjee/Documents/eecs495/OnRoadActual/OnRoad.xcodeproj</string>
</dict>
</plist>
